.inner-col {
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox-disabled {
    opacity: 1 !important;
}

.add-card {
    border: dashed rgba(219, 219, 219, 0.651); 
    border-radius: 4px;
    text-align: center; 
    height: 60px; 
    padding: 0px;

    .add-card-button {
        height: 100%; 
        width:100%; 
        margin: 0px;
        font-size: 16px; 
        font-family: sans-serif;
    }
}

.add-card:hover {
    border: dashed rgba(236, 27, 27, 0.363); 
}

.all-complete {
    margin:  0;
    padding:0;
    --background: white;
    --background-checked: white;
    --border-color: rgb(218, 218, 218);
    --checkmark-color: var(--ion-color-primary);
}
