h6 {
  margin: 5px 0 5px 5px;
}

.selected-button {
  color: var(--ion--color-primary);
}

.deselected-button {
  color: #c4c4c4;
}

.deselected-button:disabled {
  color: #c8c8c8;
}

textarea:focus, input:focus, select:focus {
  outline: none;
}