<ion-grid>
  <ion-row>
    <ion-col class="ion-no-padding" offset="0" offset-lg="2" offset-xl="2" size="12" size-lg="8" size-xl="8">
      <ion-grid>
        <ion-row>
          <ion-col size="3" size-xs="6" size-sm="3">
            <app-game-hearts [heartsMax]=heartsMax [heartsCurrent]=heartsCurrent></app-game-hearts>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!isDone()" style="justify-content: center">
          <p style="text-align: center">
            Which word means:<br/>
            <u>{{currentWord().definition}}</u>
          </p>
        </ion-row>

        <ion-row *ngIf="lost" style="justify-content: center">
          <p style="text-align: center">
            Game over!
          </p>
        </ion-row>
        <ng-container *ngIf="isDone()">
          <ion-row style="justify-content: center">
            <p style="text-align: center">
              You got {{score}} points!
            </p>
          </ion-row>
          <ion-row style="justify-content: center">
            <ion-button (click)="playAgain()">Play again</ion-button>
          </ion-row>
        </ng-container>

        <ng-container *ngIf="!isDone()">
          <ion-row>
            <ion-col class="ion-no-padding" #canvasParent size="12" style="margin-left: auto; margin-right: auto;">
              <canvas #mainCanvas class="main-canvas"></canvas>
            </ion-col>
          </ion-row>

          <div #bottomSpace class="bottom-space">
            <ion-row *ngIf="isOptionTyping()">
              <ion-col #textBox class='game-text-box' size="12">
                <ion-input #textBoxInput [(ngModel)]="textBoxValue" type="text" text-center></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col offset="3" size="6" offset-xs offset-sm size-xs size-sm>
                <ion-grid>
                  <ion-row *ngIf="isOptionMultipleChoice()">
                    <ion-col *ngFor="let c of multipleChoiceArr" size="6" style="padding: 1px">
                      <ion-button class="multiple-choice-button" (click)="selectedChoice(c)">{{c}}</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </div>
        </ng-container>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
