.card {
    height: 100%;
    width: 100%;
    padding: 0px;
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 0%;
    border: none;

    .avatar-row {
        padding-top: 10px;

        .avatar-col {
            display: flex;
            justify-content: center;
            max-height: 100%;
        }

        ion-avatar {
            width: auto;
            height: auto;
        }

        .avatar-image {
            transition: all .2s ease-in-out;
        }

        .avatar-image:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

    }
}

.welcome {
    color: white;
    padding: 0px;
    margin: 0;
}

@media only screen and (max-height: 600px) {
    .avatar-image {
        height: 80px; 
        width: 80px;
    }

    .banner-img {
        height: 40%;
        position: fixed;
        object-fit: cover;
    }
}

@media only screen and (min-height: 600px) {
    .avatar-image {
        height: 120px; 
        width: 120px;
    }

    .banner-img {
        height: 50%;
        position: fixed;
        object-fit: cover;
    }
}
