<ion-grid class="card">
  <img [src]="user.banner" (error)="user.banner = 'assets/Banners/confetti.jpg'" class="banner-img">
  <ion-row class="ion-justify-content-center">
    <ion-col size="any">
      <h2 class="welcome">Welcome</h2>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center" *ngIf="user.firstName">
    <ion-col size="any">
      <p class="welcome">{{user.firstName}}</p>
    </ion-col>
  </ion-row>
  <ion-row class="avatar-row ion-justify-content-center" >
    <ion-col class="avatar-col ion-align-items-center">
      <ion-avatar (click)="showUserPreferences()">
        <img [src]="user.profileImgURL" class="avatar-image">
      </ion-avatar>
    </ion-col>
  </ion-row>
</ion-grid>
