<ion-row class="ion-justify-content-end">
  <ion-col size="auto" style="padding: 10px;">
    <ion-label style="font-size: max(min(1.3vw, 25px), 16px);font-weight: bold;">
      <span *ngIf="graded()" [ngClass]="correctnessTextClass()">{{correctnessText()}}</span>
      {{questionNumber}}
    </ion-label>
  </ion-col>
</ion-row>
<ion-row class="ion-align-items-center ion-justify-content-center" style="height: 30%;">
  <ion-col size="auto">
    <ion-label [style.font-size]="textFontSize()" style="font-weight: bold;">{{questionText}}</ion-label>
  </ion-col>
</ion-row>
<ion-row class="ion-align-items-center ion-justify-content-center" style="height: 50%;">
  <ion-col size="auto">
    <ion-button size="large"
                *ngFor="let option of answers; let i = index"
                [ngClass]="buttonClass(i)"
                [attr.disabled]=isDisabled(i)
                (click)="selectedAnswer = i">
      <ion-label>{{option}}</ion-label>
    </ion-button>
  </ion-col>
</ion-row>
