.drop-zone {
  background-color: #f6f6f6;
  border: dotted 3px #dedddd;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.file-input-container {

  text-align: right;

  input[type="file"] {
    display: none;
  }

  label {
    font-family: Arial;
    color: white;
    background-color: var(--ion-color-primary);
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  label:hover {
    background-color: #e74533;
  }
}

.nv-file-over {
  border: dotted 3px var(--ion-color-primary);
  background-color: var(--ion-color-primary-light);
}

ion-input {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  transition: .1s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cover {
  transition: .1s ease;
}

.container:hover .image {
  opacity: 0.4;
}

.container:hover .middle {
  opacity: 1;
}

.container:hover .cover {
  opacity: 0.1;
}

.text {
  border-radius: 4px;
  background-color: var(--ion-color-primary);
  color: white;
  font-size: 16px;
  padding: 8px 16px;
}