h3 {
    font-size: min(10vw, 50px);
    text-align: center;
    font-weight: bold;
    color: #fcfcfc;
  }

.button-row {
    height: 30%;
    margin-top: 5vh;

    .btn-custom {
        --color: #fcfcfc;
        font-weight: bold;
        font-size: 1.2em;
        color: var(--ion-color-primary)
    }
}

.underlineHover {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 10px;
}

.underlineHover:hover {
    text-decoration: none;
}

.is-invalid {
    --border-color: var(--ion-color-primary);
  }

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #fcfcfc;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #fcfcfc;
}

.underlineHover:hover:after{
    width: 100%;
}