<ion-grid style="height: 100%;">
  <ion-row class="ion-justify-content-center ion-align-items-end welcome" style="margin-top: 10vh;">
    <ion-col  size="10">
      <h3 style="margin-top: 10vh;">Forgot your password?</h3>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center forum-row" style="margin-top: 8vh;">
    <ion-col size="12" size-md="10" size-lg="10" size-xl="8">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()"> 
        <ion-item style="border-radius: 4px;" [ngClass]="{ 'is-invalid': submitted && forgotPasswordForm.controls.email.errors }">
          <ion-input type="email"  class="input" placeholder="Email" name="email" formControlName="email"></ion-input>
          <ion-icon name="alert-circle-outline" *ngIf="submitted && forgotPasswordForm.controls.email.errors" style="color: var(--ion-color-primary);"></ion-icon>
        </ion-item>
        <div *ngIf="submitted && forgotPasswordForm.controls.email.errors">
          <div *ngIf="forgotPasswordForm.controls.email.errors.required" style="color: var(--ion-color-primary)">Email is required</div>
        </div>

        <div class="form-actions" style="text-align: center; margin-top: 30px;">
          <ion-button type="submit" class="btn-custom">
            <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
            <ion-label *ngIf="!loading">Request reset</ion-label>
          </ion-button>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
