<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-icon name="sad-outline" style="font-size: 200px; margin-top: 20px; color: var(--ion-color-primary)"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <h4 style="color: var(--default-font-color)">Sorry, you are unauthorized to access this page...</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
