<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<ion-header>
  <ion-toolbar>
    <ion-title>
      <a href="/home">
        <ion-img src="../../assets/logo/logo.svg" onerror="this.onerror=null; [src]='../../assets/logo/logo.png'"
          class="logo"></ion-img>
      </a>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="min-height:50px; max-height: calc(100vh - 56px); --background: var(--main-content-background)">
  <ion-grid style="margin:15px;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <ion-card style="max-width: 1330px; margin: auto">
          <ion-grid style="height: 100%;padding: 0">
            <ion-row style="background-color: var(--ion-color-primary);"
                     class="ion-align-items-center ion-justify-content-between">
              <ion-col style="margin: 5px;">
                <h3 style="padding-left: 10px; color: white; font-size: 40px;">Class Management</h3>
              </ion-col>
              <ion-col size="auto">
                <ion-button style="--background: white; padding-right: 10px; --color: var(--ion-color-primary);" fill="clear"
                            (click)="clearClass(); onClassCreate();">
                  Add New Class
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="padding: 0;">
                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Teacher</th>
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Roster</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let class of this.allClasses; let i = index">
                    <td scope="row">{{i+1}}</td>
                    <td>
                      <a href="#">
                        <img *ngIf="user.profileimage != null" height="40" width="40"
                             [src]="class.classData.teacher.profileimage" class="avatar">
                        {{class.classData.teacher.username}}</a>
                    </td>
                    <td>{{class.classData.name}}</td>
                    <td>{{class.classData.grade}}</td>
                    <td>
                      <ion-button fill="clear" style="color: var(--default-font-color);" (click)="setRoster(class)">
                        <ion-icon slot="icon-only" size="small" name="people-outline"></ion-icon>
                      </ion-button>
                    </td>
                    <td>
                      <ion-button fill="clear" style="color: var(--default-font-color);" (click)="setClass(class); onClassCreate();">
                        <ion-icon slot="icon-only" size="small" name="settings-outline"></ion-icon>
                      </ion-button>
                      <ion-button fill="clear" style="color: var(--default-font-color);"
                                  (click)="deleteClass(class, i);">
                        <ion-icon slot="icon-only" size="small" name="trash-outline"></ion-icon>
                      </ion-button>
                    </td>
                  </tbody>
                </table>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" style="margin-top: 20px;">
      <ion-col size="11">
        <ion-card style="max-width: 1330px; margin: auto">
          <ion-grid style="height: 100%;padding: 0">
            <ion-row class="ion-align-items-center ion-justify-content-between"
                     style="background-color: var(--ion-color-primary);">
              <ion-col  style="margin: 5px;">
                <h3 style="padding-left: 10px; color: white; font-size: 40px;">User Management</h3>
              </ion-col>
              <ion-col size="auto">
                <ion-button style="--background: white; padding-right: 10px; --color: var(--ion-color-primary);" fill="clear"
                            (click)="clearUser(); onUserCreate();">
                  Add New User
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="padding: 0;">
                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Image</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let user of this.allUsers; let i = index">
                    <td scope="row">{{i+1}}</td>
                    <td><a href="#"><img *ngIf="user.profileimage != null" height="40" width="40"
                                         [src]="user.profileimage" class="avatar"> {{user.username}}</a></td>
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td class="col-xs-1"> <img *ngIf="user.backgroundimage != null" width="30"
                                               [src]="user.backgroundimage">
                    </td>
                    <td>
                      <ion-button fill="clear" style="color: var(--default-font-color);"
                                  (click)="setUser(user); onUserCreate();">
                        <ion-icon slot="icon-only" size="small" name="settings-outline"></ion-icon>
                      </ion-button>
                      <ion-button fill="clear" style="color: var(--default-font-color);" (click)="deleteUser(user, i);">
                        <ion-icon slot="icon-only" size="small" name="trash-outline"></ion-icon>
                      </ion-button>
                    </td>
                  </tbody>
                </table>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
