:host {
    display: flex;
    width: 100%;
  .type-toggle {
    .show-option,
      .hide-option {
        background-color: white;
        padding: 5px;
        font-size: 1.2rem;
        display: block;
        cursor: pointer;
      }
    }

    .type-toggle:hover {
        .show-option,
      .hide-option {
        background-color: var(--ion-color-primary-light);
        color: var(--ion-color-primary);
      }
    }
  }