<ion-grid style="padding: 0; background-color: var(--main-content-background);" >
  <ion-row style="padding: 0; background-color: var(--ion-color-primary);">
    <ion-col>
      <h3 style="color: white; margin: 10px;">User Settings</h3>
    </ion-col>
    <ion-col size="auto">
      <ion-button fill="clear" style="color: white; --background-hover: white; --background-hover-opacity: 0.2;" (click)="dismiss()">
        <ion-icon slot="icon-only" size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="height: calc(600px - 56px)">
    <ion-col size="4" style="padding: 0">
      <div class="container">
        <img src="{{ uploadedBannerIconUrl || 'assets/Banners/confetti.jpg'}}" class="image" style="object-fit: cover; height: calc(600px - 56px);"/>
        <div class="middle">
          <div class="text" (click)="bannerFileInput.click()">Update</div>
        </div>
      </div>
      <input id="file-upload" type="file" #bannerFileInput style="display: none" (change)="handleBannerFileSelect($event)"/>
      <ion-avatar class="badge-icon" style="width: 120px; height: 120px; margin-top: 15px; position: relative; bottom: 510px; margin: auto" (click)="fileInput.click()">
        <img src="{{ uploadedAvatarIconUrl || 'assets/user/default-avatar.png'}}">
        <input id="file-upload" type="file" #fileInput style="display: none" (change)="handleAvatarFileSelect($event)"/>
      </ion-avatar>
    </ion-col>
    <ion-col offset=".5" size="7" style="padding-top: 20px;">
      <ion-row>
        <ion-col>
          <form (ngSubmit)="saveSettings()">
            <p class="label">First Name</p>
            <ion-input name="firstName" class="input"></ion-input>
            <p class="label">Last Name</p>
            <ion-input name="LastName" class="input"></ion-input>
            <p class="label">Username</p>
            <ion-input name="username" class="input"></ion-input>
            <p class="label">Email</p>
            <ion-input name="email" class="input"></ion-input>
            <p class="label">Password</p>
            <app-show-hide-password>
              <ion-input type="password" name="password" class="input"></ion-input>
            </app-show-hide-password>
            <a><p class="password-reset">Reset Password</p></a>
          </form>
        </ion-col>
      </ion-row>
      <ion-row style="position: fixed; left: 0; bottom: 0; right: 0;">
        <ion-col style=" padding: 0;">
          <ion-button type="submit" expand="full" color="primary" style="margin: 0;">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
