<ion-grid style="padding: 0;">
  <ion-row style="padding: 0; background-color: var(--ion-color-primary);">
    <ion-col>
      <h3 style="color: white; margin: 10px;">User Settings</h3>
    </ion-col>
  </ion-row>
  <ion-row style="height: calc(500px - 56px)">
    <ion-col size="4" style="padding: 0">
      <img src="{{ user?.backgroundimage || 'assets/Banners/blur.jpg'}}" style="object-fit: cover; height: calc(500px - 56px);"/>
    </ion-col>
    <ion-col>
      <form (ngSubmit)="saveSettings()">
        <ion-item lines="none">
          <ion-avatar class="badge-icon" style="width: 120px; height: 120px; margin-top: 15px;" (click)="fileInput.click()">
            <img src={{uploadedBadgeIconUrl}}  onerror="src='assets/icon/AddBadgeIcon.png'">
            <input id="file-upload" type="file" #fileInput style="display: none" (change)="handleAvatarFileSelect($event)"/>
          </ion-avatar>
        </ion-item>
        <ion-item>
          <ion-label>First Name:</ion-label>
          <ion-input name="firstName"></ion-input>
          <ion-label>Last Name:</ion-label>
          <ion-input name="LastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Username:</ion-label>
          <ion-input name="username"></ion-input>
          <ion-label>Password:</ion-label>
          <ion-input name="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input name="email"></ion-input>
        </ion-item>
        <ion-button type="submit" block >Save</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>