<ion-split-pane when="md" contentId="main">
  <ion-menu class="side-pane" contentId="main" type="overlay">
    <ion-header class='card ion-no-border' style="border:none;">
      <div style="height:100%; padding: 0px;">
        <app-student-card></app-student-card>
      </div>
    </ion-header>
    <ion-content>
      <ion-grid style="height: 100%; padding: 0;">
        <ion-row style="height: 100%;">
          <ion-col class="ion-align-self-start" style="padding-right: 0;">
            <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of studentPages;">
                  <ion-item (click)="updateSelection(p.url)" routerDirection="root" routerLink="/student/{{p.url}}" lines="none" detail="false" [class.selected]="selectedTitle === p.url">
                    <ion-label>{{ p.title }}</ion-label>
                    <ion-badge *ngIf="p.title === 'Messages' && numUnread" [innerText]="numUnread"></ion-badge>
                  </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-col>
          <ion-col size="12" class="ion-align-self-end">
            <ion-row class="log-out ion-justify-content-center">
          <ion-col size="auto"style="text-align: center;">
            <ion-button fill="clear" (click)="logOut()">Log Out</ion-button>
          </ion-col>
        </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
