<app-header></app-header>

<ion-content style="--background: var(--main-content-background); height: 96%;">
  <ion-grid style="height: 98%;">
    <ion-row style="min-height: 100%;">
      <ion-col style="min-height: 100%;">
        <ion-card style="min-height: 100%;">
          <ion-grid style="min-height: 100%; padding: 0">
            <ion-row style="background-color: var(--ion-color-primary);">
              <ion-col size="11" style="align-self: center;">
                <h1 style="margin-top: 10px; padding-left: 10px; color: white; font-size: 40px;">Badges</h1>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col size="11">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <h2>Your Badges</h2>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="earnedBadges.length == 0" class="ion-align-items-center" style="margin: 15px 0">
                    <ion-col size="auto" style="margin-left: 20px;">
                      <ion-icon name="ribbon-outline" style="font-size: 100px; color: #e3e3e3"></ion-icon>
                    </ion-col>
                    <ion-col size="auto">
                      <h5 style="color: #e3e3e3">You haven't earned any badges yet...</h5>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="earnedBadges">
                    <ion-col *ngFor="let badge of earnedBadges">
                      <app-award-card [award]="badge"></app-award-card>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <h2>Locked Badges</h2>
                    </ion-col>
                  </ion-row>

                  <ion-row class="ion-align-items-center">
                    <ion-col size="auto" *ngFor="let badge of lockedBadges">
                      <app-award-card [award]="badge"></app-award-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
