.card-title {
    margin-top: 10px; 
    padding-left: 10px;
    color:white; 
    font-size: 40px;
}

@media screen and (max-height: 600px) {
    .main-card {
        margin: 3px;

        .card-header {
            padding: 0;

        }

        .card-title {
            font-size: 20px;
        }
    }
}